<a href="https://colab.research.google.com/github/ReshmiMaulik/intermediate-python-course/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To calculate simple interest and amount
p= int(input("Enter the principal amount\n"))
r= float(input("Enter the rate of interest\n"))
t= int(input("Enter the time period\n"))
SI= float((p* r* t))/100
a= p+SI
print("Simple interest", SI)
print("Amount", a)
print("\n The simple interest is {} and Amount is {}".format(SI,a))

Enter the principal amount
1000
Enter the rate of interest
2
Enter the time period
6
Simple interest 120.0
Amount 1120.0

 The simple interest is 120.0 and Amount is 1120.0

In [ ]:
# Program like C
am= int(input("Enter a 3 digit number\n"))
H=int(am/100)
print(H)
T=int((am/10)-H *10)
print(T)
O= am-(int((am/10))*10)
print(O)
Arms= (H**3)+(T**3)+(O**3)
print(Arms)
if am==Arms:
  print("the number is armstrong number\n",am)
else:
    print("the number is not a armstrong number\n",am)

Enter a 3 digit number
371
3
7
1
371
the number is armstrong number
 371

In [ ]:
# To check for Armstrong number
n=input("Enter a number\n")
a=int(len(n))
s=0
for i in n:
  i= int(i)
  s=s+i**a
if s==int(n):
  print("Armstrong Number")
else:
  print("Not an armstrong number")

Enter a number
1634
Armstrong Number

In [ ]:
# To print Fibonacci series
F1=0
F2=1
F3=1
n= int(input("\n enter the value for n :"))
for i in range(n):
    F3 = F1 +F2  
    print(F3)
    F1=F2
    F2=F3

 enter the value for n :10
1
2
3
5
8
13
21
34
55
89

In [ ]:
# Match usename and password in dictionary
a={"Mahesh":"Panda",
   "Ganesh":"Shaw"}
type(a)
print("The type",type(a))
a["Ganesh"]
a["Rakesh"]="Ray"
a
a["Mahesh"]="Pande"
a
print("keys are",a.keys())

a.pop("Rakesh") # to remove last entered key and value
a
a.values()
for i in a:
  print(i,a[i])
N= input("Enter Name")
P= input("Enter Password")
for i in a:
  if (N==i and P==a[i]):
    print("Name found")
    break
  else:
   print("Invalid Credentials!") 
   break
  
#a["Name"].append(N)
#a["Password"].append(P)

The type <class 'dict'>
keys are dict_keys(['Mahesh', 'Ganesh', 'Rakesh'])
Mahesh Pande
Ganesh Shaw
Enter Nameutdytf
Enter Password3243
Invalid Credentials!

In [ ]:
# To determine whether a number is prime or not
n= int(input(" Get a number\n:"))
for i in range(2,int(n/2)):
      if (n%i==0):
        print("It is not a prime number")
        break
      else:
        print("It is a prime number")  
        break

 Get a number
:17
It is a prime number

In [ ]:
#Define a function
def ad(a,b):
  print(a+b)

ad(5,4)

9

In [ ]:
# assigning a value using return statement
def sb(a,b): 
  return b-a
c= sb(3,7)
print("The value of subtraction is",c)

The value of subtraction is 4

In [ ]:
# calling a function with parameters
def details(name,age,address):
  print("My name is",name,"age is",age,"address is",address)

details(age=45,name="Reshmi",address="Khardah")

My name is Reshmi age is 45 address is Khardah

In [ ]:
#Find factorial of a number
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [ ]:
# BMI
height=1.73
weight=78
BMI=weight/(height **2) 
print(" BMI type is",type(BMI))
print("BMI",BMI)

 BMI type is <class 'float'>
BMI 26.061679307694877

In [ ]:
z= True
type(z)

bool

In [ ]:
'ab'+'cd'

'abcd'

In [ ]:
mylist=[20,30,40,50,60,70] #Creation of list
mylist[0:3]

[20, 30, 40]